alias gs="git status"
alias gl="git log"
alias ga="git add"
alias nah="git reset --hard && git clean -df"
alias gc="git commit"
alias cls="clear && ls"
alias runa="ant build_analyzer && ./runAnalyzer.sh ~/apps/large.txt"
alias gpo="git push origin HEAD"
alias gco="git checkout --"
alias tns="tmux_script.sh"
alias tat="tmux a -t"
alias weather="curl wttr.in"
alias gap="git add -p"
alias mkdir="mkdir -p"
alias dexec="docker-compose exec app"
alias gtags="ctags -R ."
alias phresh="phing destroy && phing"
alias vim="nvim"
alias mr="!sh -c 'git fetch $1 merge-requests/$2/head:mr-$1-$2 && git checkout mr-$1-$2' -"
alias yars="cd ~/workspace/dcs-opypc && tns -s 'docker compose down && docker compose up backend --build' -t 'cd frontend && npm start'"
alias cat=bat
