alias gs="git status"
alias gl="git log"
alias ga="git add"
alias nah="git reset --hard && git clean -df"
alias gc="git commit"
alias cls="clear && ls"
alias runa="ant build_analyzer && ./runAnalyzer.sh ~/apps/large.txt"
alias gpo="export branch=$(git rev-parse --abbrev-ref HEAD) && git push origin $branch"
alias gco="git checkout --"
alias tns="tmux_script.sh"
alias tat="tmux a -t"
alias weather="curl wttr.in"
alias gap="git add -p"
alias mkdir="mkdir -p"
alias dexec="docker-compose exec app"
alias gtags="ctags -R ."
alias phresh="phing destroy && phing"
alias vim="nvim"
