alias gs="git status"
alias gl="git log"
alias ga="git add"
alias nah="git reset --hard && git clean -df"
alias gc="git commit"
alias cls="clear && ls"
alias runa="ant build_analyzer && ./runAnalyzer.sh ~/apps/large.txt"
alias gpo="git push origin"
alias gco="git checkout --"
